* {
    box-sizing:border-box;
    margin: 0;
    padding: 0
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    overflow-x:hidden
}

:root {
    --primary-color: rgb(106, 0, 255);
    --light-color: #f4f4f6;
    --dark-color: #111;
}

.logo img {
    width: 60px;
    height: auto;
}


ul {
    list-style: none
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: auto
}

.navbar{ 
    padding: 20px
}

.main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    transition: 0.5s
}

.navbar ul a:hover{
    color: rgb(89, 255, 0);
}

.navbar ul li:last-child a {
    margin-left: 10px
}

.navbar ul li a i {
    margin-right: 10px 
}

.hamburger-button {
    display:none;
    background: none;
    cursor: pointer;
    border:none;
    z-index:1000;
    padding:10px
}

.hamburger-button .hamburger-line {
    width:30px;
    height:3px;
    background: black;
    margin: 3px 0
}

.mobile-menu {
    position: fixed;
    z-index: 300;
    background: rgb(13, 46, 13);
    top: 0;
    right: -5000px;
    transition:right 0.3s ease-in-out;
    width: 250px;
    height: 100%
}

.mobile-menu ul {
    margin-top: 100px;
    padding-right: 10px;
}

.mobile-menu ul li {
    margin: 10px 0;
}

.mobile-menu ul li a {
    font-size: 20px;
}

.mobile-menu.active {
    right:0 
}

.hero {
    margin-bottom: 50px
}

.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-image img {
    width: 520px;
    height: auto;
    border-radius: 10px;
}

.hero .heading {
    width: 100%
}

.hero .text {
    width: 80%;
}

.testimonials {
    padding: 40px 0px;
}

.testimonials .testimonial-heading {
    width: 700px;
    margin-bottom: 40px;
}

.testimonials .card p:nth-child(2) {
    font-weight: bold;
    margin-top: 30px
}

.testimonials .testimonials-grid {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px
}

.pricing .pricing-grid {
    margin-top: 40px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.pricing .card-subheading {
    margin-bottom: 30px;
}

.pricing ul {
    margin: 30px 0;
}

.pricing ul li {
    margin-bottom: 20px;
}

.pricing ul li i{
    margin-right: 10px;
}

.pricing .card-price {
    margin-bottom: 30px;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.pricing .pricing-footer {
    margin: 30px 0
}

/* Footer kohta*/
.footer-grid img {
    width: 60px;
    height: auto;
}

.footer {
    padding: 40px 0;
}

.footer h4 {
    margin-bottom: 10px
}

.footer .footer-grid {
    display:grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.footer ul li {
    line-height: 2.5;
}

.footer i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.footer .card {
    margin: 20px 30px 30px 0;
}

.footer a:hover{
    color: rgb(89, 255, 0);
}

.footer input[type="email"] {
    width:100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0;
}

.container {
    max-width:1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

.card {
    background: #fff;
    color: #000;
    border-radius: 10px;
    padding: 20px
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: var(--light-color);
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    transition: 0.5s
}

.btn:hover {
    opacity: 0.8;
    color: rgb(170, 255, 0);
}

.btn-primary {
    background: var(--primary-color);
    color: #fff;
}

.btn-block {
    display:block;
    width: 100%
}

.bg-black {
    background: #000;
    color: #fff;
}

.bg-dark {
    background: var(--dark-color);
    color: #fff;
}

.bg-light {
    background: var(--light-color)
}

.bg-grey {
    background: #ccc
}

.text-xxl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}  
 
.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}  

.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

.text-center {
    text-align: center;
}

@media (max-width: 960px) {
    .text-xxl {
        font-size : 2.5rem
    }
}

@media (max-width: 900px) {
    .hero .container {
        flex-direction: column;
        text-align: center;
    }

    .hero .content {
        order: 1; 
        text-align: center;
    }

    .hero-image {
        margin: 20px;
        order: 2;
    }

    .hero .text {
        text-align: center;
        margin: 0 auto;
    }


}

@media (max-width: 670px) {
    .navbar .main-menu {
        display:none;
    }

    .navbar .hamburger-button {
        display:block;
    }

    .hero .content, .hero .text {
        width: 100%;
        text-align: center; 
    }

    .hero-image img {
        width: 80%;
        max-width: 350px;
        height: auto;
    }
    
    .hero .buttons .btn {
        margin-bottom: 10px;
        display: block;
        width: 100%;
    }

    .testimonials .testimonial-heading {
        max-width: 100%;
        text-align: center;
    }

    .testimonials .testimonials-grid, .pricing .pricing-grid, .footer .footer-grid {
        grid-template-columns: 1fr;
    }

    .footer .card {
        margin-right: 0;
    }

    .footer .footer-grid > div {
        text-align: center;
    }

    .text-xl {
        font-size: 1.9rem;
    }

    .text-lg {
        font-size: 1.5rem;
    }

    .text-md {
        font-size: 1.1rem;
    } 

    @media (max-width: 500px) {
        .text-xxl {
            font-size: 2rem;
          }
    }

}