* {
    box-sizing:border-box;
    margin: 0;
    padding: 0
}

:root {
    --primary-color: rgb(255, 0, 208);
    --light-color: #f4f4f6;
    --dark-color: #111;
}

body {
    font-style: "Poppins", san-serif;
    font-size: 16px;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

ul {
    list-style: none
}

img {
    max-width: 100%
}

.navbar{
    padding: 20px
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight:600;
    transition: 0.5s
}

.navbar ul a:hover{
    color: blue;
}

.navbar ul li:last-child a {
    margin-left: 10px
}

.navbar ul li a i {
    margin-right: 10px
}
.hero {
    margin-bottom: 50px
}
.hero .container {
    background: url("../images/hero-bg.png") no-repeat;
    background-size: contain;
    background-position: center bottom;
    height: 550px;
}

.hero .heading {
    width: 70%
}

.hero .text {
    width: 70%;
}

.video {
    padding: 10px 0 40px
}

.video .video-content {
    display:flex;
    flex-direction: column;
    align-items: center
}

.video .video-preview {
    margin-bottom: 20px;
}

.testimonials {
    padding: 40px 0px;
}

.testimonials .testimonial-heading {
    width: 700px;
    margin-bottom: 40px;
}

.testimonials .card p:nth-child(2) {
    font-weight: bold;
    margin-top: 30px
}

.testimonials .testimonials-grid {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px
}

.pricing .pricing-grid {
    margin-top: 40px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.pricing .card-subheading {
    margin-bottom: 30px;
}

.pricing ul {
    margin: 30px 0;
}

.pricing ul li {
    margin-bottom: 20px;
}

.pricing ul li i{
    margin-right: 10px;
}

.pricing .card-price {
    margin-bottom: 30px;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.pricing .pricing-footer {
    margin: 30px 0
}

.faq {
    padding:40px
}

.faq .faq-menu {
    max-width:400px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    background: #ddd;
    border-radius:10px;
    padding: 10px 20px;
}

.faq .faq-menu li.active{
    background: var(--primary-color);
    color: #fff;
}

.faq .faq-menu li{
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
}

.faq .faq-group {
    border-bottom: 1px solid var(--primary-color);
}

.faq .faq-group-header h4{
    font-weight: 600;
    width: 90%
}

.faq .faq-group-header{
    position: relative;
    margin-bottom:10px;
    padding: 20px 0;
}

.faq .faq-group-header i {
    position:absolute;
    right:0;
    top: 30px;
    cursor: pointer;
    font-size: 20px
}

.faq .faq-group-body {
    display: none
}

.faq .faq-group-body.open {
    display:block
}

.footer {
    padding: 40px 0;
}

.footer h4 {
    margin-bottom: 10px
}

.footer .footer-grid {
    display:grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.footer ul li {
    line-height: 2.5;
}

.footer a {
    color: var(--primary-color);
}

.footer input[type="email"] {
    width:100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0;
}

.footer .card {
    margin: 20px 30px 30px 0;
}

.footer i {
    font-size: 1.5rem;
    margin-right: 10px;
}


/* Utility classes */
.container {
    width:1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-sm {
    width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

.card {
    background: #fff;
    color: #000;
    border-radius: 10px;
    padding: 20px
}

.text-xxl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}  
 
.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}  

.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

.text-center {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: var(--light-color);
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    transition: 0.5s
}

.btn-primary {
    background: var(--primary-color);
    color: #fff;
}

.btn:hover {
    opacity: 0.8;
    color: blue;
}

.btn-block {
    display:block;
    width: 100%
}

.bg-black {
    background: #000;
    color: #fff;
}

.bg-dark {
    background: var(--dark-color);
    color: #fff;
}

.bg-light {
    background: var(--light-color)
}
